<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/assets/css/panel.css">
    <title>Viewer Page</title>
</head>

<body class="panel-body">
    <div class="non-sc-container">
        
        <% if (JSON.stringify(data.nonsc)==='{}' ) { %>
            <div class="row">
                <div class="left"><span class="link"
                        onclick="window.open('https://www.mariokart64.com/mk64/ranks/nonsc', '_blank');">Non-Shortcut
                        Rank</span></div>
                <div class="right">Unranked</div>
            </div>
    </div>
    <% } else { %>
        <div class="row">
            <div class="left"><span class="link"
                    onclick="window.open('https://www.mariokart64.com/mk64/ranks/nonsc', '_blank');">Non-Shortcut
                    Rank</span></div>
            <div class="right">
                <%= data.nonsc.rank %>
            </div>
        </div>
        <div class="row">
            <div class="left"><span class="link"
                    onclick="window.open('https://www.mariokart64.com/mk64/ranks/arr/nonsc', '_blank');">ARR</span>
            </div>
            <div class="right">
                <%= data.nonsc.arr.toFixed(2) %> (<%= data.nonsc.standard %>) <span class="color-yellow">(<%=
                                numberToRank(data.nonsc.arrRank) %>)</span>
            </div>
        </div>
        <div class="row">
            <div class="left"><span class="link"
                    onclick="window.open('https://www.mariokart64.com/mk64/ranks/af/nonsc', '_blank');">Average
                    Finish</span></div>
            <div class="right">
                <%= data.nonsc.af.toFixed(4) %> <span class="color-yellow">(<%= numberToRank(data.nonsc.afRank) %>
                            )</span>
            </div>
        </div>
        <div class="row">
            <div class="left"><span class="link"
                    onclick="window.open('https://www.mariokart64.com/mk64/ranks/prwr/nonsc', '_blank');">PR:WR</span>
            </div>
            <div class="right">
                <%= Number(data.nonsc.prwr).toFixed(4) %> <span class="color-yellow">(<%=
                            numberToRank(data.nonsc.prwrRank) %>)</span>
            </div>
        </div>
        <div class="row">
            <div class="left"><span class="link"
                    onclick="window.open('https://www.mariokart64.com/mk64/ranks/totaltimes/nonsc', '_blank');">3lap
                    Totals</span></div>
            <div class="right">
                <%= formatTime(Number(data.nonsc.raceTotal)) %> <span class="color-yellow">(<%=
                            numberToRank(data.nonsc.raceTotalRank) %>)</span>
            </div>
        </div>
        <div class="row">
            <div class="left"><span class="link"
                    onclick="window.open('https://www.mariokart64.com/mk64/ranks/totaltimes/nonsc', '_blank');">flap
                    Totals</span></div>
            <div class="right">
                <%= formatTime(Number(data.nonsc.lapTotal)) %> <span class="color-yellow">(<%=
                            numberToRank(data.nonsc.lapTotalRank) %>)</span>
            </div>
        </div>
        </div>
        <% } %>
            <div class="sc-container">
                <% if (JSON.stringify(data.sc)==='{}' ) { %>
                    <div class="row">
                        <div class="left"><span class="link"
                                onclick="window.open('https://www.mariokart64.com/mk64/ranks/sc', '_blank');">Shortcut
                                Rank</span></div>
                        <div class="right">Unranked</div>
                    </div>
            </div>
            <% } else { %>
                <div class="row">
                    <div class="left"><span class="link"
                            onclick="window.open('https://www.mariokart64.com/mk64/ranks/sc', '_blank');">Shortcut
                            Rank</span></div>
                    <div class="right">
                        <%= data.sc.rank %>
                    </div>
                </div>
                <div class="row">
                    <div class="left"><span class="link"
                            onclick="window.open('https://www.mariokart64.com/mk64/ranks/arr/sc', '_blank');">ARR</span>
                    </div>
                    <div class="right">
                        <%= data.sc.arr.toFixed(2) %> (<%= data.sc.standard %>) <span class="color-yellow">(<%=
                                        numberToRank(data.sc.arrRank) %>)</span>
                    </div>
                </div>
                <div class="row">
                    <div class="left"><span class="link"
                            onclick="window.open('https://www.mariokart64.com/mk64/ranks/af/sc', '_blank');">Average
                            Finish</span></div>
                    <div class="right">
                        <%= data.sc.af.toFixed(4) %> <span class="color-yellow">(<%= numberToRank(data.sc.afRank) %>
                                    )</span>
                    </div>
                </div>
                <div class="row">
                    <div class="left"><span class="link"
                            onclick="window.open('https://www.mariokart64.com/mk64/ranks/prwr/sc', '_blank');">PR:WR</span>
                    </div>
                    <div class="right">
                        <%= Number(data.sc.prwr).toFixed(4) %> <span class="color-yellow">(<%=
                                    numberToRank(data.sc.prwrRank) %>)</span>
                    </div>
                </div>
                <div class="row">
                    <div class="left"><span class="link"
                            onclick="window.open('https://www.mariokart64.com/mk64/ranks/totaltimes/sc', '_blank');">3lap
                            Totals</span></div>
                    <div class="right">
                        <%= formatTime(Number(data.sc.raceTotal)) %> <span class="color-yellow">(<%=
                                    numberToRank(data.sc.raceTotalRank) %>)</span>
                    </div>
                </div>
                <div class="row">
                    <div class="left"><span class="link"
                            onclick="window.open('https://www.mariokart64.com/mk64/ranks/totaltimes/sc', '_blank');">flap
                            Totals</span></div>
                    <div class="right">
                        <%= formatTime(Number(data.sc.lapTotal)) %> <span class="color-yellow">(<%=
                                    numberToRank(data.sc.lapTotalRank) %>)</span>
                    </div>
                </div>
                </div>
                <% } %>
                    <div class="image-container">
                        <img class="image" src="assets/images/<%= imageName %>.png" alt="Mario Kart 64" />
                    </div>
                    <script src="https://extension-files.twitch.tv/helper/v1/twitch-ext.min.js"></script>
</body>

</html>